.wrapper,
.wrapperMobile {
  align-items: center;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
}

.wrapper {
  border: 3px solid #f3ea2e;
  gap: 1rem;
  padding: 2rem;
}

.wrapperMobile {
  border: 2px solid #f3ea2e;
  gap: 0.5rem;
  max-width: 16rem;
  padding: 1rem 2rem;
}

.header {
  font-family: "Rubik Mono One";
}

.list {
  color: #f3ea2e;
  position: relative;
  left: 1rem;
}

.listMobile {
  color: #f3ea2e;
  position: relative;
  left: 2rem;
}
