.header1 {
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header3 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  text-align: center;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.black {
  color: black;
}

.white {
  color: white;
}

.yellow {
  color: #f3ea2e;
}
