* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Rubik";
  background-color: black;
  color: white;
  max-height: 100vh;
  margin: 0 3rem;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  width: 100%;
  margin: auto;
}
